.page {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pattern-top {
  position: absolute;
  left: -204.71px;
  top: -669.84px;
}

.pattern-bottom {
  position: absolute;
  right: -204px;
  bottom: -50%;
  z-index: -1;
}
