.page {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pattern-top {
  position: absolute;
  left: -204.71px;
  top: -669.84px;
  z-index: -1;
}

.pattern-bottom {
  position: absolute;
  right: -204px;
  bottom: -669px;
  z-index: -1;
}

@media screen and (max-width: 375px) {
  .pattern-top {
    max-width: 622px;
    top: -397px;
    left: -420px;
  }
  .pattern-bottom {
    max-width: 622px;
    bottom: -280px;
    right: -430px;
  }
}
